@media (max-width: 480px)
 h2
 	font-size: 18pt
 	margin-top: 50px
 .board
 	margin-bottom: 20px
 	img
   width: 100%
 .logo
 	margin-bottom: 20px
  img
   width: 50%
 .navigation
  margin-top: 0  
 .nav
 	display: none
 	position: absolute
 	height: 24vh 
 	width: 90%  
 	background-color: #FFF 
  -webkit-flex-direction: column 
  -ms-flex-direction: column 
  flex-direction: column
 	z-index: 1
 	-webkit-justify-content: center 
 	justify-content: center  
 	&__active
 		display: flex
 .nav-item
 	text-align: center
 .nav-link
 	line-height: 2
 	color: $bt-color 
  &::before
   display: none
 .nav-btn
  display: block       
 .portfolio
  display: none
 .master
  display: none
 .main-text
  margin-top: 30px 
  .text
 	 margin-top: 0
 	 p
    font-size: 18pt
 .phone
 	.icon
   display: none
 .phone
 	.tel
   display: none
 .service
  .content-2
  	width: 40%
   padding: 0
   p
    font-size: 10pt
 .free-service   
  .free-service-1
  	position: static
  	margin-top: 30px
  	text-align: center
   h3
    font-size: 16pt
   .order   
    margin-top: 70px
 .advantages  
  img
  	margin: auto
   display: block    
  .text-in
   margin: 5px auto
   width: 100% 
   text-align: center  
   p
    display: none
   h3
    font-size: 14pt
 .video
 	p
 		font-size: 14pt
 		margin-top: 65px 
 	.play
 		margin-top: 100px
  h2
  	margin-top: 30px
   font-size: 16pt
 .contacts
  height: 150vh
  margin-top: 30px                        
  .map
   width: 100%
  .col-md-5 
   order: 2
  .col-md-7
  	order: 1
  	h3
    text-align: center
  .order-2
   margin-left: 0
   margin-bottom: 10px        	 